

<!-- Theme Material -->
<a href="https://timemeet.me"  class="sidebar-footer-text-a" target="_blank">
    <div class="sidebar-text mdl-button mdl-js-button mdl-js-ripple-effect sidebar-footer-text-div" data-upgraded=",MaterialButton,MaterialRipple">
        <%= __('misc.theme') %> - timemeet.me
        <span class="sidebar-badge badge-circle">i</span>
    </div>
</a>